body{
    margin:0;
    padding:0;
}
#wrap{
    width:970px;
    min-height: 700px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: white;
}
p{
    border: solid 1px;
    border-radius: 10px;
}
div #home img{
   
}